extends layout

block beforeBody
    - bodyclasses[3] = ["dropdown","active"]

block content
    section#page-breadcrumb
        .vertical-center.sun
            .container
                .row
                    .action
                        .col-sm-12
                            h1.title Qui sommes nous ?
                            p D&eacute;couvrez comment le projet a d&eacute;but&eacute;.
    // /#page-breadcrumb
    section#about-company.padding-top.wow.fadeInUp(data-wow-duration='400ms' data-wow-delay='400ms')
        .container
            .row
                .col-sm-6
                    img.margin-bottom(src='images/aboutus/equipe.GIF' alt='')
                .col-sm-6.padding-top
                    h1.margin-bottom A propos de Cin&amp;Project
                    p
                        | Le projet est n&eacute; de l&rsquo;initiative d&rsquo;&eacute;tudiants en arts du spectacle &agrave; finalit&eacute; &eacute;criture et analyse cin&eacute;matographiques &agrave; l&rsquo;Universit&eacute; Libre de Bruxelles.  Initialement d&eacute;nomm&eacute;e &laquo; Prod Of You &raquo;, l&rsquo;a.s.b.l. a &eacute;volu&eacute; pour devenir &laquo; Cin&amp;Project &raquo;.
                    p
                        | Depuis notre plus jeune &acirc;ge et pour diff&eacute;rentes raisons, nous avons tous &eacute;t&eacute; sensibilis&eacute;s au septi&egrave;me art. Le cin&eacute;ma a particip&eacute; &agrave; notre &eacute;ducation. Il nous a appris &agrave; regarder le monde &agrave; travers les yeux d&rsquo;un autre. Il a construit notre empathie. Il a redessin&eacute; notre sensibilit&eacute;. De cet amour du cin&eacute;ma est n&eacute;e notre passion.
                    p
                        | L&rsquo;a.s.b.l. a vu le jour gr&acirc;ce &agrave; une envie commune de ses membres et fondateurs : cr&eacute;er une structure permettant de d&eacute;velopper des projets d&eacute;di&eacute;s au cin&eacute;ma (&agrave; TOUS les cin&eacute;mas). Deux ma&icirc;tres-mots pour comprendre notre philosophie : F&eacute;d&eacute;rer et Transmettre.
                    p
                        | De l&rsquo;importance de la pop culture &agrave; la n&eacute;cessit&eacute; du cin&eacute;ma d&rsquo;Art et d&rsquo;Essai, l&rsquo;image cin&eacute;matographique est vectrice de sens et d&rsquo;id&eacute;ologie. Comprendre ce type de communication visuelle c&rsquo;est &eacute;veiller sa curiosit&eacute;, &eacute;largir son esprit et ne plus &ecirc;tre un spectateur passif. Notre ambition et de &laquo; d&eacute;mystifier &raquo; le monde du cin&eacute;ma, de le rendre accessible et compr&eacute;hensible.
                    p
                        | Nous regorgeons d&rsquo;id&eacute;es et d&rsquo;enthousiasme pour vous transmettre notre passion et/ou vous aider &agrave; partager la v&ocirc;tre !
        .preloader
            i.fa.fa-sun-o.fa-spin
    section#team
        .container
            .row
                h1.title.text-center.wow.fadeInDown(data-wow-duration='500ms' data-wow-delay='300ms') La team
                p.text-center.wow.fadeInDown(data-wow-duration='400ms' data-wow-delay='400ms')
                    | (On est une petite &eacute;quipe mais on est polyvalent)
                    br
                #team-carousel.carousel.slide.wow.fadeIn(data-ride='carousel' data-wow-duration='400ms' data-wow-delay='400ms')
                    // Indicators
                    ol.carousel-indicators.visible-xs
                        li.active(data-target='#team-carousel' data-slide-to='0')
                        li(data-target='#team-carousel' data-slide-to='1')
                    // Wrapper for slides
                    .carousel-inner
                        .col-sm-3.col-xs-6
                            .team-single-wrapper
                                .team-single
                                    .person-thumb
                                        img.img-responsive(src='images/aboutus/Cin&Project_Membre_Matilda.jpg' alt='')
                                .person-info
                                    h2 Matilda Casa
                                    p Sp&eacute;cialit&eacute;s : le sc&eacute;nario, le rapport &agrave; l&apos;empathie
                                    p
                                        | Dipl&ocirc;mes : Bachelier en relations publiques, Master en &eacute;criture et analyse cin&eacute;matographiques
                                    p
                                        | Matilda a grandi entour&eacute;e de cin&eacute;philes. De cin&eacute;-clubs en festivals, elle a &eacute;t&eacute; initi&eacute;e tr&egrave;s jeune au cin&eacute;ma de Fellini, Almodavar, Woody Allen, Nanni Moretti&mldr; . Adolescente, elle a &eacute;t&eacute; marqu&eacute;e par les films de David Fincher, Christopher Nolan, Jacques Audiard et Darren Aronofsky. Son univers cin&eacute;matographique est &eacute;clectique et difficile &agrave; ranger dans une case m&ecirc;me si il y a quelques constantes : des films audacieux et inattendus, une esth&eacute;tique soign&eacute;e, des personnages forts et surprenants.
                                    p
                                        | Quelques cin&eacute;astes f&eacute;tiches (m&ecirc;me si c&rsquo;est un casse-t&ecirc;te de n&rsquo;en choisir que quelques-uns) : Sofia Coppola, Wes Anderson, Pedro Almodovar, Quentin Tarantino, Felix Van Groeningen, Jo&euml;l et Ethan Cohen &mldr;, et beaucoup, beaucoup d&rsquo;autres !!
                        .col-sm-3.col-xs-6
                            .team-single-wrapper
                                .team-single
                                    .person-thumb
                                        img.img-responsive(src='images/aboutus/Cin&Project_Membre_Greg.jpg' alt='')
                                .person-info
                                    h2 Gr&eacute;gory Miroir
                                    p Sp&eacute;cialit&eacute;s : le sc&eacute;nario
                                    p
                                        | Dipl&ocirc;mes : Bachelier en relations publiques, Master en &eacute;criture et analyse cin&eacute;matographiques
                                    p Qu&rsquo;est-ce que j&rsquo;aime ?!
                                    p
                                        | Ca va de Jurassic Park, Mystic River, The Pledge, &agrave; Relatos salvajes, La Cit&eacute; de la Peur, Comoara en passant par les plus r&eacute;cents comme Green Book, Thunder Road, Dog Man ou encore les plus anciens comme Once Upon a Time in the West, Buffet Froid, Vanishing Point, "Paris, Texas", Gone in 60 Seconds (1974). J&rsquo;aime bien les Robert Rodriguez. J&rsquo;aime bien les Tarantino. Aussi les Scorsese, les Kubrik. J&rsquo;aime bien les Balaguer&oacute;, les Pintilie, les Shyamalan. J&rsquo;aime bien les Robin Pront, les Felix Van Groeningen, les Bouli Lanners. Les Nanni Moretti, les Zemeckis,&mldr;
                                    p &ldquo;J&rsquo;aime bien tout, moi ! C&rsquo;est toi qui pose les mauvaises questions !&rdquo;
                        .col-sm-3.col-xs-6
                            .team-single-wrapper
                                .team-single
                                    .person-thumb
                                        img.img-responsive(src='images/aboutus/Cin&Project_Membre_Hanou.jpg' alt='')
                                .person-info
                                    h2 Hanoulia Salam&eacute;
                                    p
                                        | Sp&eacute;cialit&eacute;s : les nanars, les analyses m&eacute;ta et les fandoms
                                    p
                                        | Dipl&ocirc;mes : Bachelier en information et communication, Master en &eacute;criture et analyse cin&eacute;matographiques
                                    p
                                        | Hanoulia a &eacute;t&eacute; berc&eacute;e dans l&rsquo;horreur et la science-fiction. De La Momie (Fraser, tu nous manques&mldr;) &agrave; Alien jusqu&rsquo;aux Griffes de la nuit, son univers cin&eacute;matographique a &eacute;t&eacute; marqu&eacute; depuis son plus jeune &acirc;ge par des monstres en tout genre. Grande fan de nanars, elle adore aussi les r&eacute;alisations qui jouent avec ses spectateurs et leurs connaissances.
                                    p
                                        | Quelques cin&eacute;astes coupl&eacute;s de leur film qui ont marqu&eacute; son univers : Richard Kelly pour son incroyable "Donnie Darko" (director&rsquo;s cut bien s&ucirc;r), Wes Anderson pour "The Grand Budapest Hotel", Tommy Wiseau et son fabuleux "The Room", Jordan Peele par son &eacute;poustouflant "Get out", etc.
                        .col-sm-3.col-xs-6
                            .team-single-wrapper
                                .team-single
                                    .person-thumb
                                        img.img-responsive(src='images/aboutus/Cin&Project_Membre_Caro.jpg' alt='')
                                .person-info
                                    h2 Caroline Merlo
                                    p
                                        | Sp&eacute;cialit&eacute;s : Le rapport entre le cin&eacute;ma et les autres arts, le cin&eacute;ma des premiers temps, le cin&eacute;ma de genre, la repr&eacute;sentation des minorit&eacute;s
                                    p
                                        | Dipl&ocirc;mes : Master en dessin et photographie aux Beaux-Arts, Master en analyse et &eacute;criture cin&eacute;matographiques
                                    p
                                        | Durant son Master aux Beaux-Arts, la rencontre avec le cin&eacute;ma se fait au travers du cin&eacute;ma de la nouvelle vague US (Scorsese, Coppola, De Palma&mldr;). Cette d&eacute;couverte s&rsquo;accompagne ensuite d&rsquo;un v&eacute;ritable int&eacute;r&ecirc;t pour le cin&eacute;ma de genre et plus particuli&egrave;rement le cin&eacute;ma d&rsquo;horreur. Cet enclin pour l&rsquo;horreur et l&rsquo;&eacute;pouvante lui a permis de se plonger dans un univers cin&eacute;matographique complexe et parfois un peu d&eacute;nigr&eacute; par le &lsquo;grand public&rsquo; (les films de s&eacute;rie B et Z, les films d&rsquo;exploitation, etc.). Elle s&rsquo;int&eacute;resse &eacute;galement aux origines du cin&eacute;ma et au contexte entourant sa naissance, ainsi qu&rsquo;&agrave; la repr&eacute;sentation des femmes, des personnes LGBTQ+ et des personnes racis&eacute;es au cin&eacute;ma.
                        // Controls
                        a.left.team-carousel-control.hidden-xs(href='#team-carousel' data-slide='prev') left
                        a.right.team-carousel-control.hidden-xs(href='#team-carousel' data-slide='next') right
    // /#team
    section#clients
        .container
            .row
                .col-sm-12
                    .clients.text-center.wow.fadeInUp(data-wow-duration='500ms' data-wow-delay='300ms')
                        // <p><img src="images/home/clients.png" class="img-responsive" alt=""></p>
                        h1.title Nos derniers coups de coeur
                        p D&eacute;couvrez les coups de coeur cin&eacute;matographiques de l&apos;&eacute;quipe :
                    .clients-logo.wow.fadeIn(data-wow-duration='1000ms' data-wow-delay='600ms')
                        .col-xs-3.col-sm-2
                            a(href='https://www.imdb.com/title/tt7767422/' target='_blank')
                                img.img-responsive(src='images/portfolio/sex-education.jpeg' alt='')
                        .col-xs-3.col-sm-2
                            a(href='https://www.imdb.com/title/tt7738450/?ref_=nv_sr_1?ref_=nv_sr_1' target='_blank')
                                img.img-responsive(src='images/portfolio/thunder-road.jpg' alt='')
                        .col-xs-3.col-sm-2
                            a(href='https://www.imdb.com/title/tt2649356/?ref_=nv_sr_1?ref_=nv_sr_1' target='_blank')
                                img.img-responsive(src='images/portfolio/sharp-object.jpg' alt='')
                        .col-xs-3.col-sm-2
                            a(href='https://www.imdb.com/title/tt6857112/?ref_=nv_sr_1?ref_=nv_sr_1' target='_blank')
                                img.img-responsive(src='images/portfolio/us.jpg' alt='')
                        .col-xs-3.col-sm-2
                            a(href='https://www.imdb.com/title/tt4635282/?ref_=fn_al_tt_1' target='_blank')
                                img.img-responsive(src='images/portfolio/The_OA.jpg' alt='')
                        .col-xs-3.col-sm-2
                            a(href='https://www.imdb.com/title/tt5083738/?ref_=nv_sr_1?ref_=nv_sr_1' target='_blank')
                                img.img-responsive(src='images/home/favourite.jpg' alt='')
    // /#clients