extends layout

block beforeBody
    - bodyclasses[2] = ["dropdown","active"]

block content
    section#page-breadcrumb
        .vertical-center.sun
            .container
                .row
                    .action
                        .col-sm-12
                            h1.title D&eacute;couvrez nos formations
                            p Destin&eacute;es aux adultes
    // /#page-breadcrumb
    section#portfolio-information.padding-top
        .container
            .row
                .col-sm-6
                    .project-name.overflow
                    .project-info.overflow
                        h1 Formation courte pour s’initier au cinéma de fiction
                        p
                            | Cette formation courte vous permettra de vous initier au cinéma de fiction. Durant quatre semaines, vous apprendrez à vous familiariser avec les techniques d’écriture scénaristique et l’analyse cinématographique. Vous serez également initié à la pratique avec la création d’un court-métrage qui vous permettra - entre autres - de vous initier à la réalisation et au montage.
                        h2 Programme
                        ul.elements
                            h3 Module 1 : L’écriture scénaristique : techniques et ateliers de scénario de films de fiction
                            li
                                i.fa.fa-angle-right
                                | Vous pourrez acquérir des aptitudes liées à l’écriture scénaristique. Vous vous familiariserez avec les outils fondamentaux de l’écriture de scénario.
                                p
                                | Module « scénario » : 150€
                            h3 Module 2 : Initiation au langage cinématographique
                            li
                                i.fa.fa-angle-right
                                | Une approche analytique et théorique du cinéma pour vous permettre de développer votre sens critique et votre vision artistique. Ce module vous préparera à la mise en pratique.
                                p
                                | Module « initiation au langage cinématographique » : 150€
                            h3 Module 3 : Réalisation d’un court-métrage de fiction
                            li
                                i.fa.fa-angle-right
                                | Cette mise en pratique vous permettra de transposer vos écrits en images. Vous serez initié - entre autres - à la réalisation.
                                p
                                | Module « réalisation » : 75€
                            h3 Module 4 : Initiation au montage.
                            li
                                i.fa.fa-angle-right
                                | Apprentissage théorique et pratique des bases du montage. Vous réaliserez le montage de votre court-métrage.
                                p
                                | Module « montage » : 75€
                            br
                .col-sm-6
                    .skills.overflow
                        h2 Informations pratiques
                        ul.elements
                            li
                                i.fa.fa-check-square
                                | Date : du 20 avril au 29 mai 2020
                            li
                                i.fa.fa-check-square
                                | Horaire : du lundi au vendredi de 16h30 à 20h30 (horaire décalé)
                            li
                                i.fa.fa-check-square
                                | Infos & inscription : matilda.casa@condorcet.be
                            li
                                i.fa.fa-check-square
                                | Frais d’inscription : Cursus complet 350€
                            p
                                | Possibilité de s’inscrire uniquement à l’un des deux premiers modules. Ces derniers (scénario et initiation au langage cinématographique) sont des prérequis pour pouvoir assister aux deux derniers modules (réalisation et montage).
                        h2 Les formateurs
                        | Cette formation sera conduite par 2 spécialistes de l'écriture scénaristique, à savoir Madame Matilda Casa et Monsieur Grégory Miroir. Ils sont tous les deux titulaires d'un master en arts du spectacle à finalité écriture et analyse cinématographiques (ULB) ainsi que d'un bachelier en relations publiques. Leur expérience professionnelle dans le secteur (coproducteurs du 48 Hour Film Project de Bruxelles, participation à plusieurs festivals de courts-métrages aux Etats-Unis ...) garantit la qualité de cette formation.
                        p
                        | Ils s'appuieront également sur plusieurs rencontres avec des cinéastes professionnels du cinéma belge (Jean-Pierre et Luc Dardenne notamment).
                        br
        .container
            hr
            section#company-information.choose
                .container
                    .row
                        .col-sm-6.padding-top.wow.fadeInDown(data-wow-duration='1000ms' data-wow-delay='0ms')
                            h2 Formation en partenariat avec CapInfo
                            p CapInfo est un organisme d'insertion socioprofessionnelle actif dans le secteur de l'infographie. L’asbl développe des actions de formation et d'insertion sociale et professionnelle destinées aux personnes en difficultés qui ne sont pas en mesure d'accéder aux formations qualifiantes existantes.
                            h3   Nos objectifs :
                            ul.elements
                                li.wow.fadeInUp(data-wow-duration='900ms' data-wow-delay='100ms')
                                    i.fa.fa-angle-right
                                    |  Trouver un emploi
                                li.wow.fadeInUp(data-wow-duration='800ms' data-wow-delay='200ms')
                                    i.fa.fa-angle-right
                                    |  Reprendre une formation qualifiante
                                li.wow.fadeInUp(data-wow-duration='700ms' data-wow-delay='300ms')
                                    i.fa.fa-angle-right
                                    |   S'intégrer au tissu social
                                li.wow.fadeInUp(data-wow-duration='600ms' data-wow-delay='400ms')
                                    i.fa.fa-angle-right
                                    |  Elaborer un projet de vie personnel et développe les aptitudes nécessaires à la réalisation de ce projet
                                li.wow.fadeInUp(data-wow-duration='500ms' data-wow-delay='500ms')
                                    i.fa.fa-angle-right
                                    |  Evoluer de manière positive dans son parcours d'insertion
                                li.wow.fadeInUp(data-wow-duration='400ms' data-wow-delay='600ms')
                                    i.fa.fa-angle-right
                                    |  Acquérir et intégrer de nouvelles connaissances liées à l'évolution des technologies dans le secteur concerné
                        .col-sm-6.wow.fadeInDown(data-wow-duration='1000ms' data-wow-delay='0ms')
                          a(href='http://www.capinfo.be/')
                            img.img-responsive(src='/images/portfolio/capinfo1.jpg' alt='')
            // /#company-information

    section#action.responsive
        .vertical-center
            .container
                .row
                    .action.take-tour
                        .col-sm-7.wow.fadeInLeft(data-wow-duration='500ms' data-wow-delay='300ms')
                            h1.title Int&eacute;ress&eacute;.e par une formation ?
                            p
                        .col-sm-5.text-center.wow.fadeInRight(data-wow-duration='500ms' data-wow-delay='300ms')
                            .tour-button
                                a.btn.btn-common(href='/contact') Contactez-nous