extends layout

block beforeBody
  - bodyclasses[0] = ["dropdown","active"]

block content
  section#home-slider
    .container
      .row
        .main-slider
          .slide-text
            h1  Découvrez Cin&Project
            p
              | Cin&Project est construit sur deux piliers : la fédération et la transmission.
              | D’un côté, nous avons pour but d’organiser des projets autour du septième art, de soutenir des cinéastes débutants et professionnels à travers l’organisation d’initiatives tels que des festivals et des colloques.
              | De l’autre, nous développons des projets pédagogiques pour sensibiliser et initier les plus jeunes à notre passion.
            a.btn.btn-common(href='/about_us') Découvrez l'équipe
          .slider-image
            img.slider-hill(src='images/home/gif-cinema.gif', alt='slider image')
    .preloader
      i.fa.fa-sun-o.fa-spin
  // /#home-slider
  section#services
    .container
      .row
        .col-sm-4.text-center.padding.wow.fadeIn(data-wow-duration='1000ms', data-wow-delay='300ms')
          .single-service
            .wow.scaleIn(data-wow-duration='500ms', data-wow-delay='300ms')
              img(src='https://img.icons8.com/doodle/480/000000/brainstorm-skill.png')
            h2 Eveiller des vocations
            p
              | Nous souhaitons encourager l’expression de la créativité en transmettant les outils qui permettront à tout un chacun de communiquer sa sensibilité artistique et sa vision du monde.
        .col-sm-4.text-center.padding.wow.fadeIn(data-wow-duration='1000ms', data-wow-delay='600ms')
          .single-service
            .wow.scaleIn(data-wow-duration='500ms', data-wow-delay='600ms')
              img(src='https://img.icons8.com/doodle/480/000000/volunteering.png')
            h2 Soutenir les cinéastes
            p
              | Au travers de nos évènements, nous avons l’ambition de toujours mieux encadrer les cinéastes et de créer des opportunités de rencontres entre les artistes.
        .col-sm-4.text-center.padding.wow.fadeIn(data-wow-duration='1000ms', data-wow-delay='900ms')
          .single-service
            .wow.scaleIn(data-wow-duration='500ms', data-wow-delay='900ms')
              img(src='https://img.icons8.com/doodle/480/000000/clapperboard.png')
            h2 Rendre le cinéma accessible
            p
              | Nos projets s’inscrivent dans une démarche fédératrice visant à ouvrir un domaine spécifique au plus grand nombre. Il y a l’idée d’une éducation à l’image, mais aussi l’éveil d’un intérêt artistique.
  // /#services
  section#subscribe
    .container
      .row
        .col-sm-10.col-sm-offset-1
          .row
            .col-sm-6
              h2
                i.fa.fa-envelope(aria-hidden='true')
                |  Inscrivez-vous à notre newsletter
              p
                | Restez au courant de nos activités tout au long de l'année,
                br
                | Il y aura plein de petites surprises aussi...
            .col-sm-6.newsletter
              form#newsletter
                input.form-control(type='email', name='email', value='', placeholder='Votre mail ici')
                i#check.fa.fa-check
              p On vous promet que vous n'aurez aucun spam :)
  section#features
    .container
      .row
        .single-features
          .clients.text-center.wow.fadeInUp(data-wow-duration='500ms', data-wow-delay='300ms')
            // <p><img src="images/home/clients.png" class="img-responsive" alt=""></p>
            a(name='identifier')
              h1.title Découvrez nos prochains évènements :
          .col-sm-5.wow.fadeInLeft(data-wow-duration='500ms', data-wow-delay='300ms')
            a(href='https://www.facebook.com/events/2418341605146476/')
              img.img-responsive(src='images/home/pompomboys.png', alt='')
          .col-sm-6.wow.fadeInRight(data-wow-duration='500ms', data-wow-delay='300ms')
            .project-name.overflow
              h2.bold  Conférence - Q&A
              ul.nav.navbar-nav.navbar-default
                li
                  a(href='https://www.facebook.com/events/2418341605146476/')
                    i.fa.fa-tag
                    | Tout public
                li
                  a(href='https://www.facebook.com/events/2418341605146476/')
                    i.fa.fa-clock-o
                    | 24 décembre 22h00 au Cinéma Vendôme 
            .project-info.overflow
              // <h3> </h3>
              p
                | Dans le cadre du Festival Elles Tournent, Camille Hamet et Sérénia Robin présenteront leur film Pom-Pom Boys le vendredi 24 janvier à 22h au Vendôme. La séance sera suivie d'un Q&A en présence des deux réalisatrices et de l'asbl Cin&Project.
                | Synopsis : À Paris, les élèves d'une école primaire s'attaquent aux stéréotypes sexistes qui plombent l'ambiance de la cour de récré et de toute la société. Un film rafraîchissant !
              p
                | Pour en savoir plus, c'est par
                a(href='https://www.facebook.com/events/2418341605146476/')  ici
        .single-features
          .col-sm-6.col-sm-offset-1.align-right.wow.fadeInLeft(data-wow-duration='500ms', data-wow-delay='300ms')
            .project-name.overflow
              h2.bold Les samedis Cinéma
              ul.nav.navbar-nav.navbar-default
                li
                  a(href='/pedagogique/stage')
                    i.fa.fa-tag
                    | Pour enfants entre 10 et 13 ans
                li
                  a(href='/pedagogique/stage')
                    i.fa.fa-clock-o
                    | 10 samedis du 1 février au 11 avril 2020
            .project-info.overflow
              // <h3></h3>
              p
                | Les prochains ateliers pour l'année 2020 se dérouleront entre le 1 février et le 11 avril. 10 samedis seront destinés à la découverte du cinéma. Les enfants y découvriront les étapes de la création cinématographique et réaliseront plusieurs court-métrages.
              p
                | Les places sont limitées ! Pour en savoir plus, c'est par
                a(href='/pedagogique/stage')  ici
          .col-sm-5.wow.fadeInRight(data-wow-duration='500ms', data-wow-delay='300ms')
            a(href='/pedagogique/stage')
              img.img-responsive(src='images/home/stage.jpg', alt='')